.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
        flex-wrap: wrap; }

.box {
    background-color: hotpink;
    color: white; 
    padding: 20px;
    margin: 10px;
    text-align: center;
    flex: 1; 
    min-width: 100px; 
    max-width: 200px; 
    height: 200px;
}


@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .box {
        max-width: none;
        width: 80%;
    }
}
